<content>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Введение</h1>

				<p>
					Ежедневно работая с компонентами, рано или поздно приходит мысль, а зачем я делаю это 100 раз, и каждый раз заново.
					Хочется повторно использовать код и не вспоминать как там это было, не искать старые проекты и не выдерать код из них.
				</p>

				<p>
					Библиотека Oblivion это как раз библиотека для быстрого старта.
				</p>



				<p>
					Чтобы старт был быстрым, в библиотеке собираются компоненты, годные для многократного использования,
					на данный момент по мимо ангуляра в библиотеку входит bootstrap, в ближайшее время компоненты будут изолированы,
					а стили бутстрапа будут выделены и внесены в конкретный файл компонента. На данный момент пока это не возможно и у вас
					должен быть подключен bootstrap.
				</p>

				<h3>Быстрый старт</h3>


				<p>
					Установите ангуляр cli и сам ангуляр 4, выполнив в командной строке следующие команды <br>
					<b>npm install -g @angular/cli</b>
				</p>


				<p>
					Сгерерируйте свое приложение перейдите в него и запустите, выполнив в командной строке следующие команды<br>
					<b>
						ng new PROJECT_NAME <br>
						cd PROJECT_NAME <br>
						ng serve --open <br>
					</b>
				</p>

				<p>Установите бутстрап скачав его при помощи npm или bower смотрите
					<a href="https://v4-alpha.getbootstrap.com/getting-started/download/"> тут </a>
				</p>

				<p>
					Скачайте zip архив с гитхаба или склонируйте его в свой проект вот по этой ссыле <br>
					<br>
					<b>Библиотека: https://github.com/Gordondalos/oblivion</b>
					<br>
					<b>Git: https://github.com/Gordondalos/oblivion.git</b>
				</p>


				<p>
					Надите нужный компонент в библиотеке скопируйте папку с
					компонентом в папку с вашим приложением,
					и подключите указанные в документации файлы,
					пропишите в конфиге url адреса, картинок если они используются в компоненте.
					Если y компонента реализованы ивенты реализуйте методы обрабатывающие их.
					Если затрудняетесь с использованием компонента то вы можете прочитать файл readme.md
					лежащий в каждом компоненте, в нем подробно описано как подключить и сконфигурировать компонент.
				</p>


				<p>Все указаныные шаги я показываю в видео ниже:</p>

			</div>
		</div>
	</div>

</content>

