<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          <img src="/public/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Oblivion
        </a>
      </nav>
    </div>
    <div class="col-sm-12 col-md-6">
      <nav class="nav float-right navbar-light px-3 py-2">
        <a class="nav-link text-gray-dark" routerLink="/">Главная</a>
        <a class="nav-link text-gray-dark" routerLink="/guide">Введение</a>
        <a class="nav-link text-gray-dark" routerLink="/documentation">Документация</a>
        <a class="nav-link text-gray-dark" routerLink="/example">Компоненты</a>
        <a class="nav-link text-gray-dark" routerLink="/about">О проекте</a>
      </nav>
    </div>
  </div>
</div>